#https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_bind_address
[mysqld]
user = root
port = 3306
#If the address is 0.0.0.0, the server accepts TCP/IP connections on all server host IPv4 interfaces.
bind-address = 0.0.0.0